<div class="playlist-settings-container">
    <ul>
        <li>
            <button>
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.6918 0.758789H14.6174C11.6255 0.758773 9.28077 0.758759 7.45133 1.00472C5.57879 1.25648 4.10119 1.78184 2.94142 2.94162C1.78165 4.10139 1.25628 5.57899 1.00452 7.45153C0.758561 9.28097 0.758574 11.6257 0.758591 14.6176V14.7664C0.758574 17.7583 0.758561 20.103 1.00452 21.9324C1.25628 23.805 1.78165 25.2826 2.94142 26.4424C4.10119 27.6021 5.57879 28.1275 7.45133 28.3793C9.28078 28.6252 11.6255 28.6252 14.6174 28.6252H14.7662C17.7581 28.6252 20.1028 28.6252 21.9323 28.3793C23.8048 28.1275 25.2824 27.6021 26.4422 26.4424C27.6019 25.2826 28.1273 23.805 28.3791 21.9324C28.625 20.103 28.625 17.7583 28.625 14.7663V14.692C28.625 14.1551 28.1898 13.7199 27.6529 13.7199C27.116 13.7199 26.6808 14.1551 26.6808 14.692C26.6808 17.7744 26.6788 19.9885 26.4522 21.6734C26.2295 23.3303 25.8058 24.3293 25.0674 25.0676C24.3291 25.806 23.3302 26.2297 21.6732 26.4524C19.9883 26.679 17.7742 26.681 14.6918 26.681C11.6093 26.681 9.3953 26.679 7.71038 26.4524C6.05343 26.2297 5.05449 25.806 4.31615 25.0676C3.57782 24.3293 3.15413 23.3303 2.93135 21.6734C2.70482 19.9885 2.70276 17.7744 2.70276 14.692C2.70276 11.6095 2.70482 9.3955 2.93135 7.71058C3.15413 6.05363 3.57782 5.05469 4.31615 4.31635C5.05449 3.57801 6.05343 3.15432 7.71038 2.93155C9.3953 2.70502 11.6093 2.70296 14.6918 2.70296C15.2287 2.70296 15.6639 2.26774 15.6639 1.73087C15.6639 1.19401 15.2287 0.758789 14.6918 0.758789Z"
                        fill="white" />
                    <path
                        d="M15.3005 12.7085C14.9209 13.0881 14.9209 13.7036 15.3005 14.0832C15.6802 14.4629 16.2956 14.4629 16.6753 14.0832L26.6808 4.07769V8.65697C26.6808 9.19384 27.116 9.62905 27.6529 9.62905C28.1898 9.62905 28.625 9.19384 28.625 8.65697V1.73087C28.625 1.19401 28.1898 0.758789 27.6529 0.758789H20.7268C20.1899 0.758789 19.7547 1.19401 19.7547 1.73087C19.7547 2.26774 20.1899 2.70296 20.7268 2.70296H25.3061L15.3005 12.7085Z"
                        fill="white" />
                </svg>
                <span>Share</span>
            </button>
        </li>
        <li>
            <button>
                <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M20.8846 0.551249C20.6451 0.311759 20.3203 0.177216 19.9816 0.177216C19.6429 0.177216 19.3181 0.311759 19.0786 0.551249L3.42665 16.2032C3.26621 16.3636 3.15141 16.5639 3.09407 16.7834L1.39136 23.3021C1.27679 23.7408 1.40337 24.2073 1.72394 24.5279C2.04452 24.8484 2.51103 24.975 2.94967 24.8604L9.46836 23.1577C9.68789 23.1004 9.88818 22.9856 10.0486 22.8252L25.7006 7.17322C26.1993 6.67451 26.1993 5.86594 25.7006 5.36723L20.8846 0.551249ZM5.47765 17.7642L19.9816 3.26024L22.9916 6.27023L8.48764 20.7742L4.41346 21.8383L5.47765 17.7642Z"
                        fill="white" />
                    <path
                        d="M1.92166 27.4205C1.21638 27.4205 0.64463 27.9923 0.64463 28.6975C0.64463 29.4028 1.21638 29.9746 1.92166 29.9746H27.4623C28.1675 29.9746 28.7393 29.4028 28.7393 28.6975C28.7393 27.9923 28.1675 27.4205 27.4623 27.4205H1.92166Z"
                        fill="white" />
                </svg>
                <span>Edit Playlist</span>
            </button>
        </li>
        <li>
            <button>
                <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.1432 0.426512H17.241C17.5672 0.426304 17.8514 0.426122 18.1198 0.468978C19.1801 0.638288 20.0976 1.29959 20.5935 2.25191C20.719 2.49296 20.8087 2.76264 20.9117 3.07219L21.08 3.57707C21.1085 3.66254 21.1166 3.68673 21.1235 3.70578C21.3875 4.43563 22.072 4.929 22.8479 4.94866C22.8683 4.94917 22.8932 4.94926 22.9838 4.94926H27.5065C28.131 4.94926 28.6372 5.45549 28.6372 6.07994C28.6372 6.7044 28.131 7.21062 27.5065 7.21062H1.87761C1.25316 7.21062 0.746933 6.7044 0.746933 6.07994C0.746933 5.45549 1.25316 4.94926 1.87761 4.94926H6.40046C6.49098 4.94926 6.51597 4.94917 6.53637 4.94866C7.31224 4.92899 7.99671 4.43566 8.26072 3.70582C8.26766 3.68663 8.27564 3.66296 8.30427 3.57707L8.47252 3.07222C8.57548 2.76268 8.6652 2.49296 8.79072 2.25191C9.28663 1.29959 10.2041 0.638288 11.2644 0.468978C11.5328 0.426122 11.817 0.426304 12.1432 0.426512ZM10.1816 4.94926C10.2592 4.79696 10.328 4.6387 10.3872 4.47504C10.4052 4.42534 10.4228 4.37244 10.4455 4.30447L10.5959 3.85308C10.7334 3.44075 10.765 3.35665 10.7964 3.29636C10.9617 2.97892 11.2676 2.75848 11.621 2.70205C11.6881 2.69133 11.7779 2.6879 12.2126 2.6879H17.1717C17.6063 2.6879 17.6961 2.69133 17.7632 2.70205C18.1167 2.75848 18.4225 2.97892 18.5878 3.29636C18.6192 3.35665 18.6508 3.44073 18.7883 3.85308L18.9387 4.3042L18.997 4.47507C19.0562 4.63873 19.125 4.79697 19.2027 4.94926H10.1816Z"
                        fill="#FF0000" />
                    <path
                        d="M5.51854 9.77367C5.477 9.15059 4.93823 8.67916 4.31515 8.7207C3.69208 8.76224 3.22065 9.30101 3.26219 9.92409L3.96087 20.4043C4.08976 22.3382 4.19388 23.9002 4.43806 25.126C4.69193 26.4004 5.12373 27.4648 6.01561 28.2992C6.90748 29.1336 7.99828 29.4936 9.28673 29.6622C10.526 29.8243 12.0915 29.8243 14.0296 29.8242H15.3546C17.2926 29.8243 18.8582 29.8243 20.0975 29.6622C21.386 29.4936 22.4768 29.1336 23.3686 28.2992C24.2605 27.4648 24.6923 26.4004 24.9462 25.126C25.1904 23.9002 25.2945 22.3382 25.4234 20.4044L26.122 9.92409C26.1636 9.30101 25.6922 8.76224 25.0691 8.7207C24.446 8.67916 23.9072 9.15059 23.8657 9.77367L23.1723 20.1746C23.0368 22.2066 22.9403 23.6204 22.7284 24.6842C22.5228 25.716 22.2359 26.2622 21.8237 26.6479C21.4115 27.0335 20.8474 27.2835 19.8042 27.4199C18.7287 27.5606 17.3116 27.5629 15.2751 27.5629H14.1092C12.0727 27.5629 10.6555 27.5606 9.58004 27.4199C8.53679 27.2835 7.97272 27.0335 7.56053 26.6479C7.14834 26.2622 6.8614 25.716 6.65584 24.6842C6.44393 23.6204 6.3474 22.2066 6.21193 20.1746L5.51854 9.77367Z"
                        fill="#FF0000" />
                    <path
                        d="M10.8107 12.4927C11.432 12.4306 11.9861 12.8839 12.0483 13.5053L12.8021 21.0432C12.8642 21.6645 12.4108 22.2186 11.7895 22.2808C11.1681 22.3429 10.614 21.8895 10.5519 21.2682L9.79813 13.7303C9.73599 13.109 10.1893 12.5549 10.8107 12.4927Z"
                        fill="#FF0000" />
                    <path
                        d="M18.5736 12.4927C19.1949 12.5549 19.6483 13.109 19.5861 13.7303L18.8323 21.2682C18.7702 21.8895 18.2161 22.3429 17.5948 22.2808C16.9734 22.2186 16.5201 21.6645 16.5822 21.0432L17.336 13.5053C17.3981 12.8839 17.9522 12.4306 18.5736 12.4927Z"
                        fill="#FF0000" />
                </svg>
                <span>Delete</span>
            </button>
        </li>
    </ul>

    <button title="close settings" class="close-settings">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.49997 25.125L25.1248 3.50024" stroke="#282828" stroke-width="4.58731" stroke-linecap="round" />
            <path d="M3.49997 3.49997L25.1248 25.1248" stroke="#282828" stroke-width="4.58731" stroke-linecap="round" />
        </svg>
    </button>
</div>